.loginBox {
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;
  border-radius: 0.5rem;
  width:500px;
  margin:20px auto;
}

body {
  background-color: #f1f1f1 !important;
}

button[type="submit"]{
  border-radius: 0 0.25rem 0.25rem 0;
}